body{
    font-family:'Trebuchet MS',sans-serif;
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    overflow:hidden;
    background: linear-gradient(135deg,#667eea,#764ba2,#6dd5ed);
    background-size:400% 400%;
    animation:bgMove 8s infinite alternate;
}

@keyframes bgMove{
    0%{background-position:left;}
    100%{background-position:right;}
}

.container{
    background:rgba(255,255,255,0.95);
    width:750px;
    padding:35px;
    border-radius:25px;
    box-shadow:0 0 25px rgba(0,0,0,0.4);
    text-align:center;
    z-index:100;
}

h1{
    font-size:42px;
    color:#2c3e50;
    text-shadow:2px 2px 5px #aaa;
}

.tagline{
    font-size:20px;
    color:#6c3483;
    margin-bottom:20px;
    font-weight:bold;
}

.brainFloat{
    font-size:35px;
    animation:floatBrain 2s infinite alternate;
    display:inline-block;
    margin:0 10px;
}

@keyframes floatBrain{
    from{transform:translateY(0);}
    to{transform:translateY(-10px);}
}

.form-box{
    background:#eef4ff;
    padding:20px;
    border-radius:20px;
    margin-top:20px;
}

input,select{
    width:280px;
    padding:12px;
    margin:10px;
    border-radius:10px;
    border:2px solid #888;
    font-size:16px;
    text-align:center;
}

#avatar{
    font-size:90px;
    margin:15px;
}

#startBtn{
    padding:14px 35px;
    font-size:18px;
    background:#ff5733;
    color:white;
    border:none;
    border-radius:30px;
    cursor:pointer;
    box-shadow:0 0 15px #ff5733;
}

#startBtn:hover{
    transform:scale(1.1);
}

#quizSection{
    display:none;
}

.option-btn{
    display:block;
    width:90%;
    margin:10px auto;
    padding:14px;
    background:white;
    color:black;
    border:2px solid #555;
    border-radius:10px;
    cursor:pointer;
    font-size:17px;
    font-weight:bold;
}

.option-btn:hover{
    background:#d6eaff;
    transform:scale(1.03);
}

#progress,#timer,#message,#result,#celebrate{
    margin:10px;
    font-weight:bold;
}

.dance{
    animation:danceMove 0.5s infinite alternate;
}

@keyframes danceMove{
    0%{transform:translateX(-10px) rotate(-10deg);}
    50%{transform:translateX(10px) rotate(10deg);}
    100%{transform:translateY(-5px);}
}

.confetti{
    position:fixed;
    width:10px;
    height:10px;
    top:-10px;
    animation:fall 4s linear infinite;
    z-index:1;
}

@keyframes fall{
    from{transform:translateY(0) rotate(0deg);}
    to{transform:translateY(100vh) rotate(360deg);}
}
